@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZnkCCM.eot")/*tpa=https://fonts.gstatic.com/s/muli/v12/7Au_p_0qiz-adZnkCCM.eot*/;
}
